services:
  api:
    build:
      context: .
      dockerfile: apps/api/Birthday/Dockerfile
    container_name: birthday-api
    restart: unless-stopped
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      ConnectionStrings__Default: Data Source=/app/data/invitation.db;
    volumes:
      - /home/fanto/deployments/birthdaySite/apps/api/Birthday:/app/data
    ports:
      - "5252:8080"
    networks:
      - birthday_net

  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    container_name: birthday-web
    restart: unless-stopped
    environment:
      NODE_ENV: production
      PORT: 4000
      API_PROXY_TARGET: http://api:8080
    depends_on:
      - api
    ports:
      - "80:4000"
    networks:
      - birthday_net

networks:
  birthday_net:
    driver: bridge
